<div class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ticket 1</h4>
        </div>
        <div class="card-body">
          <ngb-alert [type]="'info'" [dismissible]="false">
            <span>
              This is a notification with close button and icon and have many
              lines. You can see that the icon and the close button are always
              vertically aligned. This is a beautiful notification. So you don't
              have to worry about the style.
            </span>
          </ngb-alert>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ticket 2</h4>
        </div>
        <div class="card-body">
          <ngb-alert [type]="'info'" [dismissible]="false">
            <span>
              This is a notification with close button and icon and have many
              lines. You can see that the icon and the close button are always
              vertically aligned. This is a beautiful notification. So you don't
              have to worry about the style.
            </span>
          </ngb-alert>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ticket 3</h4>
        </div>
        <div class="card-body">
          <ngb-alert [type]="'info'" [dismissible]="false">
            <span>
              This is a notification with close button and icon and have many
              lines. You can see that the icon and the close button are always
              vertically aligned. This is a beautiful notification. So you don't
              have to worry about the style.
            </span>
          </ngb-alert>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ticket 4</h4>
        </div>
        <div class="card-body">
          <ngb-alert [type]="'info'" [dismissible]="false">
            <span>
              This is a notification with close button and icon and have many
              lines. You can see that the icon and the close button are always
              vertically aligned. This is a beautiful notification. So you don't
              have to worry about the style.
            </span>
          </ngb-alert>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <button
          class="btn btn-success"
          (click)="showNotification('top', 'left')"
        >
          ADD Ticket
        </button>
      </div>
    </div>
  </div>
</div>
