<div class="content">
  <div class="col-md-12">
    <form method="post">
      <div class="row">


        <div class="col-md-6">
          <div class="form-group">
            <label for="formGroupExampleInput">Ticket Name</label>
            <input
              [(ngModel)]="ticket.titre"
              type="text"
              class="form-control"
              id="formGroupExampleInput"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="formGroupExampleInput">Taches</label>
            <select
              [(ngModel)]="ticket.tacheId"
              style="color: #6c757d"
              class="form-control"
              id="projectInput"
            >
              <option *ngFor="let item of taches" [value]="item.id">
                {{ item.titre }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-12">
          <button
            *ngIf="ticket.id == null"
            (click)="addTicket()"
            type="submit"
            class="btn btn-success btn-lg btn-block"
          >
            Ajouter Ticket
          </button>
          <button
            *ngIf="ticket.id != null"
            (click)="updateTicket()"
            type="submit"
            class="btn btn-primary btn-lg btn-block"
          >
            Modifier Ticket
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row mt-4">
    <div class="col-md-12 m-2">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Liste Tickets</h4>
          <small>
            Vous Pouver Modifier si la tache est complete par click sur l'icone
            <i class="fa fa-thumbs-down ml-2"></i>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-12">
    <div class="col-md-12 m-2">
  <div class="card" *ngFor="let tsk of tickets" >
    <div class="card-body">

     <b> <h4 class="card-title">Ticket #{{ tsk.id }}</h4> dans la tache N #{{ tsk.tacheId }} </b>
      <p class="card-text">{{ tsk.titre }}</p>
    </div>
    <div class="card-body">
      <button
        (click)="editTache(tsk)"
        class="btn btn-success btn-sm mr-2"
      >
        <i class="tim-icons icon-pencil"></i>
      </button>
      <button
        (click)="deleteTicket(tsk.id)"
        class="btn btn-danger btn-sm"
      >
        <i class="tim-icons icon-trash-simple"></i>
      </button>


      <span style="margin-left: 10px"
        (click)="updateCompleted(tsk)"
        [ngClass]="{
                      'badge-info': tsk.completed,
                      'badge-danger': !tsk.completed
                    }"
        class="badge badge-secondary badge-pill"
      >
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-thumbs-up': tsk.completed,
                        'fa-thumbs-down': !tsk.completed
                      }"
                    >
                    </i>
      </span>
    </div>
  </div>
    </div>
  </div>

</div>
